__pycache__
CameraPrIMuS.tgz
primusCalvoRizoAppliedSciences2018.tgz
/Corpus
/logs
/mlruns
/current_training
/tromr/workspace/checkpoints/pytorch_model_*.pth
/grandstaff.tgz
/grandstaff
/hum2xml
/cpms_index.txt
/CreativeCommons/*.mxl
/CreativeCommons/*/job.json
/CreativeCommons/*/music.musicxml
/CreativeCommons/*/music-*.svg
/MuseScore.AppImage
/tromr/workspace/checkpoints/*_ser.txt
/CPMS
/diw.zip
/diw