__pycache__
CameraPrIMuS.tgz
primusCalvoRizoAppliedSciences2018.tgz
/Corpus
/logs
/mlruns
/test-primus
/tromr/workspace/checkpoints/pytorch_model_*.pth
/grandstaff.tgz
/grandstaff
/hum2xml
/cpms_index.txt