timm==0.6.15
omegaconf==2.3.0
transformers==4.39.1
opencv-python-headless==4.9.0.80
x-transformers==1.27.19
albumentations==1.2.0
torch==2.2.1
einops==0.4.1
numpy==1.26.3
scipy==1.12.0
matplotlib==3.8.0rc1
torchvision==0.17.1
xmltodict==0.13.0
editdistance===0.8.1